* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI';
    background: url('../');
}
.game {
    background: linear-gradient(45deg, rgb(236, 199, 199), rgb(255, 255, 255));
    width: 25%;
    min-width: 290px;
    max-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    &__option {
        padding-bottom: 10px;
        font-size: 20px;
        color: #380c0c;
    }
    &__buttons {
        display: flex;
        justify-content: space-evenly;
    }
}
.btn {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 70px;
    padding: 5px 0;
    background: #478b32;
    color: #f5fdfc;
    &:hover {
        transform: scale(1.1);
    }
}